{% for key in lookup('pipe', 'env | cut -d= -f1 | grep ^OPENCLAW_ || true').splitlines() %}
{% if key != 'OPENCLAW_CLUSTER_TOKEN' %}
{{ key }}="{{ lookup('env', key) }}"
{% endif %}
{% endfor %}
OPENCLAW_CLUSTER_TOKEN="{{ hostvars['vm-k8mgd']['openclaw_dynamic_token'] }}"
OPENROUTER_API_KEY={{ lookup('env', 'OPENROUTER_API_KEY') }}
NVIDIA_API_KEY={{ lookup('env', 'NVIDIA_API_KEY') }}
GEMINI_API_KEY={{ lookup('env', 'GEMINI_API_KEY') }}
GROQ_API_KEY={{ lookup('env', 'GROQ_API_KEY')}}
NODE_COMPILE_CACHE=/var/tmp/openclaw-compile-cache
OPENCLAW_NO_RESPAWN=1
KUBECONFIG="{{ openclaw_support_home }}/.kube/config"
ALPACA_SECRET_KEY={{ lookup('env', 'ALPACA_SECRET_KEY') }}
ALPACA_API_KEY={{ lookup('env', 'ALPACA_API_KEY') }}
OPENCLAW_EQUITY_DISCORD_FORUM_CHANNEL_ID={{ lookup('env', 'OPENCLAW_EQUITY_DISCORD_FORUM_CHANNEL_ID') | default('1504282224789295134', true) }}
