apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../_middlewares
  - _repositories
  - namespace.yaml
  - homepage
  - outline
  - nfsprovisioner
  
namespace: mgd-default