**/result
.env
**/*.px.yaml
opcenter.bkp.zip
repo.bkp.zip
.DS_Store
start.sh
wikis
.vscode

# Terraform
**/*terraform.tfvars
**/*.terraform/
**/*.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.backup
**/.terraform/
**/terraform.tfplan
**/terraform.tfplan.*
**/*.tfvars
!terraform.tfvars.example
*.terraform.lock.hcl

# Ansible
**/*.var.yaml

scripts/

docker/vectorchord/init.sh
docker/mariadb/init.sh

.github/prompts/*