apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
  - ingressroute.yaml
  - cm-grafdash-k8global.yaml
  - cm-grafdash-k8ns.yaml
  - cm-grafdash-k8pods.yaml
  - cm-grafdash-power.yaml

labels:
  - pairs:
      milano.app: prometheusstack