apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ingressroute.yaml

labels:
  - pairs:
      milano.app: prometheusstack

configMapGenerator:
  - name: grafana-dash-k8global
    files:
      - dashboards/k8global.json
    options:
      labels:
        milano_grafana_dashboard: "true"
  - name: grafana-dash-k8misc
    files:
      - dashboards/k8ns.json
      - dashboards/k8pods.json
    options:
      labels:
        milano_grafana_dashboard: "true"
  - name: grafana-dash-power
    files:
      - dashboards/power.json
    options:
      labels:
        milano_grafana_dashboard: "true"
  - name: grafana-dash-tailscale
    files:
      - dashboards/tailscale.json
    options:
      labels:
        milano_grafana_dashboard: "true"
