apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-redis
  labels:
    app: immich-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-redis
  template:
    metadata:
      labels:
        app: immich-redis
    spec:
      containers:
      - name: immich-redis
        image: redis:6.2.17
        ports:
        - containerPort: 6379
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: immich-credentials
              key: REDIS_PASSWORD