apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
    traefik: true
  proxmox.yaml: |
    url: https://10.0.0.10:8006
    token: ${PROXMOX_USERNAME}
    secret: ${PROXMOX_PASSWORD}
  settings.yaml: |
    title: "Operations Center Boulder - MILANO"
    description: "Welcome to Milano!"
    background:
      image: https://images.unsplash.com/photo-1600104146011-ad1a8571f161
      blur: sm
      opacity: 50
    useEqualHeights: true
    headerStyle: clean
    disableCollapse: true
    target: _blank
  custom.css: ""
  custom.js: |
    const elements = document.querySelectorAll('.service');
    if(window.location.host === '10.0.0.10'){
      Array.from(document.querySelectorAll('.services-list')).map(e=>{
        Array.from(e.children).forEach(el => {
            if (!el.id.startsWith('local-')) {
              el.remove();
            }
        });
        if(e.children.length===0){
          # console.log(e?.parentElement?.parentElement)
          return e?.parentElement?.parentElement?.remove()
        }
      })
    }
  bookmarks.yaml: |
    - Quick Links:
        - Operations Center Agile:
            - icon: github-light
              href: https://github.com/users/nirmalhk7/projects/16
        - Dashboard Icons:
            - icon: linkace
              href: https://dashboardicons.com/icons
  services.yaml: |
    - Devbench:
        - DevWorld:
            icon: appwrite
            href: https://devworld.trusted.nirmalhk7.com/
            description: Appwrite
            siteMonitor: https://devworld.trusted.nirmalhk7.com/
    - Infrastructure:
        - lxc_nginx:
            name: NginX
            description: LXC
            href: "https://10.0.0.10:8006/#v1:0:=lxc%2F101:4::::::=consolejs"
            proxmoxNode: milano
            proxmoxVMID: 101
            proxmoxType: lxc
        - lxc_tailscale:
            name: Tailscale
            description: LXC
            href: "https://10.0.0.10:8006/#v1:0:=lxc%2F102:4::::::=consolejs"
            proxmoxNode: milano
            proxmoxVMID: 102
            proxmoxType: lxc
        - vm_kubernetes:
            name: Kubernetes
            description: VM
            href: "https://10.0.0.10:8006/#v1:0:=qemu%2F105:4::::::=consolejs"
            proxmoxNode: milano
            proxmoxVMID: 105
    - Networking:
        - Tailscale:
            id: local-tailscale
            icon: tailscale-light	
            href: https://login.tailscale.com/admin/machines
            widget:
              type: tailscale
              deviceid: ${TSKEY_DEVICEID}
              key: ${TSKEY_API}
        - Google Home:
            id: googlehome
            icon: tailscale-light	
            href: https://home.google.com/home/1-55a939b1374bf27e1be4ded764e93e4d2c88ff3cbb03c77c535f0137a96f7663/devices
        - Cloudflare:
            id: local-cloudflare
            icon: cloudflare
            href: https://dash.cloudflare.com/397ae3d0f15c4e696b2a31307963d57c/nirmalhk7.com
        - Proxmox:
            icon: proxmox-light
            id: local-proxmox
            href: https://10.0.0.10:8006/
            widget:
              type: proxmox
              url: https://10.0.0.10:8006/
              username: ${PROXMOX_USERNAME}
              password: ${PROXMOX_PASSWORD}
              node: milano
        - Proxmox:
            icon: proxmox-light
            id: vpn-proxmox
            href: https://proxmox.trusted.nirmalhk7.com/
            widget:
              type: proxmox
              url: https://proxmox.trusted.nirmalhk7.com/
              username: ${PROXMOX_USERNAME}
              password: ${PROXMOX_PASSWORD}
              node: milano
  widgets.yaml: |
    - greeting:
        text_size: xl
        text: Operations Center Boulder
        font: bold
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: false
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: false
    - openmeteo:
        units: metric # or imperial
        cache: 5 # Time in minutes to cache API responses, to stay within limits
        format: # optional, Intl.NumberFormat options
          maximumFractionDigits: 1
    - resources:
        backend: resources
        expanded: true
        cpu: false
        memory: false
        network: default
  docker.yaml: ""