apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../_middlewares
  - _repositories
  - namespace.yaml
  - authentik
  - authelia
  - vaultwarden

namespace: mgd-security