apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../_middlewares
  - namespace.yaml
  - _repositories
  - grafana
  - prometheus
  - scrutiny
  - loki
  - portainer

namespace: mgd-monitoring